div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Welcome in Theory App!
    p.lead You can train your driving theory exam skills with this app and get only much better.

.container
  .row
    .col-lg-12
      h1.page-header Register for an account to make an exam
      a(href='/signup') Create your account

footer.footer
  .container
    p
      | Theory App v0.1.0
